@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
:root {
  font-size: min(4vw, 16px);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
}

a {
  text-underline-offset: 4px;
  font-weight: 600;
}

body {
  width: 100%;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  display: none;
}

.main-section {
  background-image: url(./images/img1.png);
  background-repeat: no-repeat;
  background-position: 60% 50%;
  background-size: cover;
}
.main-section header {
  width: min(100%, 1024px);
  margin-inline: auto;
  padding-inline: 1.5rem;
  display: flex;
  justify-content: space-between;
  padding-block: 1.5rem;
}
.main-section header .logo {
  width: 12rem;
}
.main-section header .menu {
  height: 2rem;
  aspect-ratio: 1/1;
  background-color: #ffffff;
  border-radius: 50%;
  position: relative;
}
.main-section header .menu img {
  width: 50%;
  position: absolute;
  margin: auto;
  inset: 0;
}
.main-section .main {
  width: min(100%, 1024px);
  margin-inline: auto;
  padding-inline: 1.5rem;
  display: flex;
  flex-direction: column;
  padding-block: 5rem 10rem;
  justify-content: flex-start;
  gap: 2rem;
}
.main-section .main p {
  max-width: 50ch;
  color: #d4d6d3;
}
.main-section .main h1 {
  max-width: 16ch;
  color: #ffffff;
  font-size: min(8vw, 3rem);
}
.main-section .main a {
  color: #e8c31f;
}

.brands {
  width: min(100%, 1024px);
  margin-inline: auto;
  padding-inline: 1.5rem;
  margin-top: -4rem;
  padding: 0;
  position: relative;
}
.brands .container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 10px 20px 30px rgba(128, 128, 128, 0.1);
}
@media screen and (width > 1024px) {
  .brands .container {
    width: calc(100vw - (100vw - 1024px) / 2);
  }
}
.brands .img-container {
  width: min(100%, 1024px);
  margin-inline: auto;
  padding-inline: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 1rem;
  margin: 0;
  gap: 1rem;
  justify-content: space-evenly;
  background-color: #fff;
}
.brands .img-container img {
  width: min(33%, 8rem);
  mix-blend-mode: multiply;
  filter: saturate(0);
  opacity: 0.7;
}

.what-we-do {
  width: min(100%, 1024px);
  margin-inline: auto;
  padding-inline: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem 1rem;
}
.what-we-do .info-container {
  display: flex;
  flex-direction: column;
  padding-block: 4rem 2rem;
  width: 45%;
  max-width: 45%;
  gap: 2rem;
}
@media screen and (width < 768px) {
  .what-we-do .info-container {
    width: 100%;
    max-width: 100%;
  }
}
.what-we-do .info-container p {
  color: #555a49;
}
.what-we-do .info-container h1 {
  color: #36392b;
}
.what-we-do .info-container a {
  width: 100%;
  color: #d4d6d3;
}
.what-we-do .testimonial-container {
  padding: 3rem 2rem;
  width: min(80%, 33ch);
  box-shadow: 10px 10px 30px rgba(128, 128, 128, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2rem;
}
@media screen and (width < 768px) {
  .what-we-do .testimonial-container {
    margin-inline: auto;
  }
}
.what-we-do .testimonial-container .text-content {
  font-style: italic;
  color: #555a49;
}
.what-we-do .testimonial-container .author {
  display: flex;
  gap: 1rem;
}
.what-we-do .testimonial-container .author img {
  height: 3rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  box-shadow: 5px 5px 20px rgba(128, 128, 128, 0.3);
}
.what-we-do .testimonial-container .author div .author-name {
  font-weight: 700;
  color: #36392b;
  font-size: 0.9rem;
}
.what-we-do .testimonial-container .author div .author-desig {
  font-size: 0.8rem;
}

.awesome-project {
  width: min(100%, 1024px);
  margin-inline: auto;
  padding-inline: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  padding-block: 5rem;
  align-items: center;
  gap: 2rem;
}
.awesome-project h1 {
  width: 45%;
  max-width: 45%;
  display: block;
  color: #36392b;
  width: 35%;
}
@media screen and (width < 768px) {
  .awesome-project h1 {
    width: 100%;
    max-width: 100%;
  }
}
.awesome-project p {
  width: 45%;
  max-width: 45%;
  font-size: 1rem;
  color: #555a49;
  width: 55%;
}
@media screen and (width < 768px) {
  .awesome-project p {
    width: 100%;
    max-width: 100%;
  }
}

.hero-section-float {
  position: relative;
}
.hero-section-float.float-left .img-container {
  left: 0;
}
.hero-section-float.float-left .container {
  justify-content: flex-end;
}
.hero-section-float.float-right {
  margin-block: 10rem;
}
@media screen and (width < 768px) {
  .hero-section-float.float-right {
    margin-block: 5rem;
  }
  .hero-section-float.float-right .container .dummy {
    order: 1;
  }
  .hero-section-float.float-right .container .info-container {
    order: 2;
  }
}
.hero-section-float.float-right .img-container {
  right: 0;
}
.hero-section-float .img-container {
  width: 45%;
  max-width: 45%;
  width: 50vw;
  max-width: 50vw;
  position: absolute;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
  height: 50svh;
  height: min(600px, 50vh);
}
@media screen and (width < 768px) {
  .hero-section-float .img-container {
    width: 100%;
    max-width: 100%;
  }
}
.hero-section-float .img-container img {
  height: 50svh;
  aspect-ratio: 5/2;
  width: 45%;
  max-width: 45%;
  width: auto;
  max-width: 50vw;
}
@media screen and (width < 768px) {
  .hero-section-float .img-container img {
    width: 100%;
    max-width: 100%;
  }
}
.hero-section-float .container {
  width: min(100%, 1024px);
  margin-inline: auto;
  padding-inline: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 9rem 1rem;
}
.hero-section-float .container .dummy {
  width: 45%;
  max-width: 45%;
  position: relative;
  height: 100%;
  height: min(600px, 50vh);
}
@media screen and (width < 768px) {
  .hero-section-float .container .dummy {
    width: 100%;
    max-width: 100%;
  }
}
.hero-section-float .container .info-container {
  display: flex;
  flex-direction: column;
  padding-block: 4rem 2rem;
  width: 45%;
  max-width: 45%;
  gap: 2rem;
  width: 45%;
  max-width: 45%;
  padding-block: 0;
  width: 40%;
  max-width: 40%;
}
@media screen and (width < 768px) {
  .hero-section-float .container .info-container {
    width: 100%;
    max-width: 100%;
  }
}
.hero-section-float .container .info-container p {
  color: #555a49;
}
.hero-section-float .container .info-container h1 {
  color: #36392b;
}
.hero-section-float .container .info-container a {
  width: 100%;
  color: #d4d6d3;
}
@media screen and (width < 768px) {
  .hero-section-float .container .info-container {
    width: 100%;
    max-width: 100%;
  }
}
.hero-section-float .container .info-container h1 {
  width: 15ch;
}
.hero-section-float .float-container {
  padding: 3rem 2rem;
  width: min(80%, 33ch);
  box-shadow: 10px 10px 30px rgba(128, 128, 128, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2rem;
  gap: 1.5rem;
  width: min(45ch, 90%);
  font-size: 0.9rem;
  padding: 2rem;
  border-radius: 0.5rem;
  position: absolute;
  background-color: #fff;
  bottom: -6rem;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 10px 10px 50px rgba(128, 128, 128, 0.2);
}
@media screen and (width < 768px) {
  .hero-section-float .float-container {
    margin-inline: auto;
  }
}
.hero-section-float .float-container .text-content {
  font-style: italic;
  color: #555a49;
}
.hero-section-float .float-container .author {
  display: flex;
  gap: 1rem;
}
.hero-section-float .float-container .author img {
  height: 3rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  box-shadow: 5px 5px 20px rgba(128, 128, 128, 0.3);
}
.hero-section-float .float-container .author div .author-name {
  font-weight: 700;
  color: #36392b;
  font-size: 0.9rem;
}
.hero-section-float .float-container .author div .author-desig {
  font-size: 0.8rem;
}
@media screen and (width < 768px) {
  .hero-section-float .float-container {
    left: 50% !important;
    right: 50% !important;
    transform: translateX(-50%);
    max-width: calc(100% - 1rem);
  }
}
.hero-section-float .float-container .text-content::before {
  content: '"';
}
.hero-section-float .float-container .text-content:after {
  content: '"';
}

.best-ways-section {
  margin-top: 10rem;
  width: min(100%, 1024px);
  margin-inline: auto;
  padding-inline: 1.5rem;
}
@media screen and (width < 768px) {
  .best-ways-section {
    margin-top: 3rem;
  }
}
.best-ways-section h1 {
  color: #36392b;
  max-width: 26ch;
}
.best-ways-section .cards-container {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(auto-fill, min(230px, 25ch));
  gap: 2rem 1rem;
  justify-content: space-evenly;
}
.best-ways-section .cards-container .card {
  display: flex;
  flex-direction: column;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  gap: 1.5rem;
  padding: 1.5rem;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0px 0px 40px rgba(128, 128, 128, 0.1);
}
.best-ways-section .cards-container .card:nth-child(1), .best-ways-section .cards-container .card:hover {
  box-shadow: 20px 20px 40px rgba(128, 128, 128, 0.15);
}
.best-ways-section .cards-container .card:nth-child(1) a, .best-ways-section .cards-container .card:hover a {
  color: #e8c31f;
}
.best-ways-section .cards-container .card h2 {
  font-size: 1.5rem;
  font-weight: 500;
  max-width: 15ch;
  color: #36392b;
}
.best-ways-section .cards-container .card p {
  color: #555a49;
  font-weight: 500;
  font-size: 0.9rem;
}
.best-ways-section .cards-container .card a {
  color: #e8c31f;
  font-weight: 400;
  font-size: 0.9rem;
  color: #d4d6d3;
  margin-top: auto;
}

.amazing-section {
  margin-top: 0rem;
  position: relative;
  bottom: -5rem;
  background-color: 15rem;
  height: auto;
  width: 100svw;
}
.amazing-section .container {
  width: min(100%, 1024px);
  margin-inline: auto;
  padding-inline: 1.5rem;
  padding-block: 2rem;
}
.amazing-section .container h1 {
  font-size: min(5vw, 2rem);
  max-width: 20ch;
  margin-block: 2rem;
  color: #36392b;
}
.amazing-section .container a {
  color: #d4d6d3;
  font-size: 0.9rem;
  font-weight: 500;
}
.amazing-section .dummy {
  background-color: #ffffff;
  width: calc(min(100%, 1024px) + (100svw - min(100%, 1024px)) / 2);
  z-index: -1;
  height: 100%;
  right: 0;
  position: absolute;
  left: 0;
  box-shadow: 10px 10px 40px rgba(17, 17, 17, 0.1490196078);
}

footer {
  padding-top: 5rem;
  position: relative;
  z-index: -2;
  background-image: url(./images/footer-bg.png);
  background-color: #4e533c;
  background-blend-mode: luminosity;
}
footer > * {
  width: min(100%, 1024px);
  margin-inline: auto;
  padding-inline: 1.5rem;
}
footer .contact-section {
  padding-block: 4rem 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem 10rem;
  border-bottom: 1px solid rgba(182, 193, 151, 0.5);
}
footer .contact-section .contact-card .head {
  color: #b6c197;
}
footer .contact-section .contact-card .text {
  color: #ffffff;
  font-weight: 500;
}
footer .links-section {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem 1rem;
  border-bottom: 1px solid rgba(182, 193, 151, 0.5);
}
@media screen and (width < 768px) {
  footer .links-section {
    justify-content: flex-start;
  }
}
footer .links-section div {
  display: flex;
  flex-direction: column;
  width: min(220px, 90%);
  justify-self: center;
  gap: 1rem;
  margin-block: 1rem;
}
footer .links-section div h3 {
  color: #ffffff;
  font-weight: 500;
  font-size: 1rem;
}
footer .links-section div a {
  text-decoration: none;
  color: #b6c197;
  font-weight: 400;
  font-size: 0.9rem;
}
footer .links-section div:nth-child(4) p {
  color: #b6c197;
  max-width: 25ch;
}
footer .links-section div:nth-child(4) .email {
  font-size: 1.1rem;
  color: #ffffff;
}
footer .links-section div:nth-child(4) .social-links {
  display: flex;
  flex-direction: row;
}
footer .links-section div:nth-child(4) .social-links a {
  background-color: rgba(182, 193, 151, 0.4);
  width: 2.5rem;
  height: 2.5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
footer .links-section div:nth-child(4) .social-links a img {
  width: 100%;
  padding: 0.6rem;
  opacity: 0.5;
}
footer .links-section div:nth-child(4) .social-links a:hover {
  background-color: #e8c31f;
}
footer .links-section div:nth-child(4) .social-links a:hover img {
  opacity: 1;
}
footer .rights-reserved {
  padding-block: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}
footer .rights-reserved img {
  width: 10rem;
}
footer .rights-reserved p {
  color: #b6c197;
}/*# sourceMappingURL=style.css.map */