@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Poppins:wght@400;500&family=Righteous&display=swap");

$header: "Righteous", cursive;
$text: "Poppins", sans-serif;
$width: min(100%, 500px);
:root {
  font-size: min(4vw, 16px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

body {
  height: 100svh;
  max-width: $width;
  margin-inline: auto;
  padding-inline: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  &::-webkit-scrollbar {
    display: none;
  }
}

header {
  position: fixed;
  width: calc($width - 2rem);
  background-color: #fff;
  padding-block: 1rem;
  z-index: 2;
  h1 {
    text-align: center;
    font-family: $header;
    margin-bottom: 1rem;
    letter-spacing: 1px;
  }

  .input-container {
    min-height: 3.5rem;

    form {
      display: flex;
      flex-direction: column;
      position: relative;

      input,
      textarea {
        outline: transparent;
        border: 1px solid rgba(128, 128, 128, 0.548);
        padding: 0.75rem 3rem 0.75rem 1.25rem;
      }
      #input-title {
        height: 3rem;
        border-radius: 1rem;
        transition: all 0.1s linear;
        font-family: $text;
        font-weight: 500;
        font-size: 1rem;
        color: rgb(45, 45, 45);
        letter-spacing: 0.5px;
      }
      #input-description {
        display: none;
        height: 4rem;
        transition: all 0.3s ease-in-out;
        border-top: none;
        border-radius: 0 0 1rem 1rem;
        resize: none;
        overflow-y: hidden;
        font-family: $text;
        font-size: 0.95rem;
      }
      button[type="submit"] {
        position: absolute;
        right: 0;
        top: 0.05rem;
        font-size: 2rem;
        background-color: transparent;
        border: none;
        border-radius: 30px;
        height: 3rem;
        aspect-ratio: 1/1;
        @media (hover: hover) {
          &:hover {
            cursor: pointer;
            color: rgb(54, 53, 53);
          }
        }
      }
      &:focus-within {
        #input-title {
          border-radius: 1rem 1rem 0 0;
        }
        #input-description {
          display: block;
          animation: fade-down 0.3s ease-in-out;
        }
      }
    }
  }
}

@keyframes fade-down {
  from {
    opacity: 0;
    transform: translateY(-30%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.main {
  margin-top: 9rem;
  .task-container {
    position: relative;
    h2 {
      font-family: $text;
      font-weight: 500;
      font-size: 1.2rem;
      margin-block: 1.5rem 1rem;
    }

    .empty-pending-task {
      min-height: 150px;
      font-size: 1.2rem;
      display: grid;
      place-content: center;
      color: gray;
      font-family: $text;
    }

    .heading {
      .fa-angle-right {
        rotate: 0deg;
      }
      &:hover {
        cursor: pointer;
      }
    }
    .completed {
      display: none;
    }

    &.visible {
      .heading {
        .fa-angle-right {
          rotate: 90deg;
        }
      }
      .completed {
        display: block;
      }
    }
    .task {
      margin-block: 0.75rem;
      display: grid;
      border-radius: 1rem;
      border: 1px solid rgba(128, 128, 128, 0.548);
      display: grid;
      grid-template-areas: "checkbox text-content btns";
      gap: 0.5rem;
      grid-template-columns: auto 12fr 2.5rem;
      &.completed-task {
        background-color: rgba(rgb(191, 193, 198), 0.3);
        color: rgba(gray, 0.9);
      }

      @media screen and (hover: hover) {
        &:hover {
          background-color: rgba(rgb(191, 193, 198), 0.2);
          .action-btns {
            .fa-xmark {
              display: block;
              cursor: pointer;
            }
          }
        }
      }

      &:hover {
        .title {
          border-bottom: 1px solid gray;
        }
      }
      input[type="checkbox"] {
        margin-block: 0.75rem;
        margin-left: 0.75rem;

        grid-area: checkbox;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        vertical-align: middle;
        background-color: #fff;
        appearance: none;
        -webkit-appearance: none;
        outline: none;
        cursor: pointer;
        margin-right: 0.2rem;
        border: 1px solid rgba(128, 128, 128, 0.548);
        @media screen and (hover: hover) {
          &:hover {
            background-color: rgba(123, 129, 138, 0.4);
            background-color: rgb(255, 255, 255);
            border: 1px solid rgba(128, 128, 128, 0.548);
            &::before {
              content: "\f00c";
              font-family: FontAwesome;
              font-size: 1rem;
              color: rgb(6, 6, 6);
              text-align: center;
              vertical-align: center;
              padding-left: 0.25rem;
            }
          }
        }

        &:checked {
          background-color: rgba(123, 129, 138, 0.4);
          background-color: rgb(255, 255, 255);
          border: 1px solid rgba(128, 128, 128, 0.548);
          &::before {
            content: "\f00c";
            font-family: FontAwesome;
            font-size: 1rem;
            color: rgb(6, 6, 6);
            text-align: center;
            vertical-align: center;
            padding-left: 0.25rem;
          }
        }
      }
      .text-content {
        grid-area: text-content;
        flex-basis: 100%;
        flex-grow: 1;
        margin-block: 0.75rem;

        .title[contenteditable="true"],
        .desc[contenteditable="true"] {
          transition: all 0.2s ease-in-out;
          -webkit-line-clamp: unset;
          border-bottom: 1px solid rgba(gray, 0.5);
          margin-bottom: 0.8rem;
          padding-bottom: 0.2rem;
          user-select: all;
          &:focus {
            outline: transparent;
          }
        }
        .title[contenteditable="true"] {
          &:empty::before {
            content: "Title";
            color: rgba(gray, 0.5);
          }
        }

        .desc[contenteditable="true"] {
          margin-bottom: 0;
          &:empty::before {
            content: "Description";
            color: rgba(gray, 0.5);
          }
        }

        .title {
          transition: all 0.2s ease-in-out;

          font-family: $text;
          font-size: 1rem;
          font-weight: 500;
          opacity: 0.9;
          border: transparent;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: unset;
        }
        .desc {
          transition: all 0.2s ease-in-out;

          font-family: $text;
          font-size: 0.87rem;
          border: transparent;
          line-height: 1.4;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: unset;
        }
      }
      .action-btns {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        gap: 0.5rem;
        margin-right: 0.5rem;
        margin-block: 0.5rem;
        grid-area: btns;
        .fa-xmark,
        .fa-floppy-disk {
          border-radius: 50%;
          padding: 0.5rem 0.2rem;
          width: 2rem;
          height: 2rem;
          text-align: center;
          background-color: #ffffff;
          // color: rgb(255, 255, 255);
          background-color: rgb(225, 225, 225, 0.5);
        }

        .fa-floppy-disk {
          display: none;
        }
      }
    }
  }
}
